body {
    background-color: #0e0e0e;
    
}
.parent {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 6%;
    background-color: #131313f6;
    position: fixed;
    z-index: 1;
    
}
.child-left{
    width: 20%;
    height: 50%;
    position: absolute;
    bottom: 25%;
    
}
.child-middle{
    width: 40%;
    height: 50%;
    position: absolute;
    left: 30%;
    bottom: 25%;
    border-radius: 5px;
}
.child-right{
    width: 15%;
    height: 50%;
    position: absolute;
    left: 85%;
    bottom: 25%;
}

.child-left img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.child-left img:nth-child(2){
    margin-left: 65px;
}

.child-right img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.child-right img:nth-child(2) {
    margin-left: 70px;
}
.child-right img:nth-child(3) {
    margin-left: 140px;
}
.child-right img:nth-child(4) {
    margin-left: 210px;
}

.child-middle input{
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
    font-size: 1.5em;
    border: 1px solid rgb(107, 107, 107);
    top: 50%;
    transform: translateY(-50%);
}
.child-middle button {    
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 10%;
    background-color: rgb(22, 22, 22);
    border: 0.5px solid rgb(107, 107,107);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav img{
    height: 2.2em;
    width: 2.2em;
}




/* Sidebar   ************/
aside {
    background-color: #1F1F1F;
    position: absolute;
    height: 200px;
    width: 400px;
    right: 150px;
    top: 10%;
    height: 150%;
}
aside > div {
    position: absolute;
    height: 8.33%;
    width: 100%;
}
aside > div img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
}

aside > div >h4 {
    position: absolute;
    left: 52%;
    top: 5%;
    color: white;
    margin: 0;
}
aside > div >p {
    position: absolute;
    left: 52%;
    top:30%;
    color: rgb(107, 107,107);
    margin: 0;
    line-height: 1.5em;
    font-size: 0.9em;
}
.side-1 {top: 0%;}
.side-2 {top: 8.33%;}
.side-3 {top: 16.66%;}
.side-4 {top: 25%;}
.side-5 {top: 33.32%;}
.side-6 {top: 41.65%;}
.side-7 {top: 49.98%;}
.side-8 {top: 58.31%;}
.side-9 {top: 66.64%;}
.side-10 {top: 74.64%;}
.side-11 {top: 82.97%;}
.side-12 {top: 91.3%;}

/**************************/

main {
    position: absolute;
    top: 100px;
    left: 90px;
    height: 150%;
    
}
.video-title h2{
    position: relative;
    top: 10px;
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
.description {
    position: absolute;
    width: 100%;
    top: 57%;
    color: white;
    height: 14%;
    border-top: 1px solid rgb(27, 27, 27);
    border-bottom: 1px solid rgb(27,27,27);
}
.logo-profile{
    position: absolute;
    bottom: 46%;
}
.description h3 {
    position: absolute;
    left: 110px;
    bottom: 60%;
}
.description p {
    position: absolute;
    left: 110px;
    bottom: 16%;
}

.description span {
    font-size: 0.9em;
    color: rgb(211, 211, 211);
}
.description button {
    position: relative;
    float: right;
    margin-left: 10px;
    height: 2.5em;
    background-color: #0e0e0e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.video-title p {
    position: absolute;
    left: 0px;
    top: 70%;
}
/*/////////////////*/
.commentSection {
    position: absolute;
    height: 28%;
    width: 100%;
    background-color: saddlebrown;
    bottom: 0;
}

.desc-1 {
    position: absolute;
    left: 0;
    background-color: rgb(14, 255, 203);
    height: 200px;
    width: 95%;
    border-bottom: 1px solid black;
}
.desc-1 div{
    position: absolute;
    background-color: green;
    width: 50px;
    height: 50px;
    left: 10px;
    border-radius: 50%;
}
.desc-1 div h3 {
    position: relative;
    bottom: 25px;
    left: 14px;
    color: white;
    font-size: 2em;
}
.desc-1 p {
    position: absolute;
    left: 80px;
    color: rgb(148, 148, 148);
    top: 50px;
}
